.nav {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 2;
    background-color: #567D91;
}

.relative {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E6ECF1;
    padding: 1.48rem;
}

.navLogo {
    font-size: calc(0.8rem + 0.9vw);
    font-weight: 600;
}

.nav-links {
    display: flex;
    width: calc(15rem + 5.96vw);
    justify-content: space-between;
    font-size: calc(1rem + 0.2vw);
}

.nav-link {
    color: #E6ECF1;
    text-decoration: none;
    transition: color 0.3s;
}

.selected {
    color: #E6ECF1;
}

.squiggle {
    align-self: center;
    width: 5.3rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opacity {
    opacity: 1;
}

.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-color: #567D91;
    overflow: hidden;
    animation: expand 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.dropdown.open {
    animation: expand 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.dropdown.closed {
    animation: expand 0.5s ease-in-out reverse;
    animation-fill-mode: forwards;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 0;
    background-color: rgba(230, 236, 241, 0.07);
    font-size: calc(1rem + 0.2vw);
    color: #E6ECF1;
    text-decoration: none;
    padding: 1.2rem;
    border-bottom: 1px solid #8DA8B8;
}

.navItem:hover {
    background-color: #8DA8B8;
}

.nav-link:hover {
    color: #ED8957;
}

@keyframes expand {
    from {
        max-height: 0;
    }

    to {
        max-height: 9.8rem;
    }
}