.card {
    height: fit-content;
    width: 17rem;
    min-width: 15rem;
    border-radius: 18px;
    background-color: #8DA8B8;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.2rem;
}

.cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardImageContainer {
    height: 10rem;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
}

.projectHeader {
    font-weight: 600;
    font-size: 1.2rem;
    color: #E6ECF1;
    margin-top: 0.8rem;
}