@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Questrial&display=swap');
@import url("https://use.typekit.net/ber4ifm.css");

#bgText {
    /* text-align: center; */
    /* line-height: 100%; */
    font-size: 18vw;
    color: #618294;
}

#center-title {
    position: absolute;
    text-align: center;
}

#name {
    /* font-family: 'Questrial', sans-serif; */
    font-size: 4vw;
    letter-spacing: 5px;
}

#job {
    /* font-family: 'Questrial', sans-serif; */
    font-size: 4vw;
    letter-spacing: 5px;
}
