:root {
    --main-background: #567D91;
    --secondary-background: #8DA8B8;
    --secondary-text: #618294;
    --secondary-background-hover: #b2c6d1;
    --main-white: #edf2f7;
    --main-dark: #0B0C21;
    --main-accent: #ED8957;
    --secondary-accent: #f1b290;
    --main-shadow: #cacdce;
    --secondary-shadow: #849ca9;
}